Getting Mock data...
---------------------------------------------------------------------------
Data Collection Succesful.
TimeSeries dictionary has 4686 entries.
Initializing correlator with updated data

Succesful SQL connection.
Succesful SQL connection.
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);

In [2]:
m.dropTable('HighestCorrelations')
m.createTable('HighestCorrelations', ['Id','Id1', 'Corr1', 'Id2', 'Corr2', 'Id3', 'Corr3', 'Id4', 'Corr4', 'Id5', 'Corr5'])

Succesful SQL connection.
Succesful SQL connection.

In [3]:
m.insertIntoTable('HighestCorrelations', ['Id','Id1', 'Corr1', 'Id2', 'Corr2', 'Id3', 'Corr3', 'Id4', 'Corr4', 'Id5', 'Corr5'] , ['WPU091203', 'WPU09120325', 0.9999929484300573, 'WPU09120125', 0.7884038230250947, 'WPU09120725', 0.7178238013955672, 'WPU091201', 0.6224936524353397, 'WPU101215', 0.6145450529649398])

Succesful SQL connection.
INSERT INTO HighestCorrelations (Id,Id1,Corr1,Id2,Corr2,Id3,Corr3,Id4,Corr4,Id5,Corr5) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);